#welcome {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 7%;
}

#start {
  background-color: #99EB99;
  text-align: center;
  position: absolute;
  left: 35%;
  padding: 4%;
  border-radius: 10px;
}

.players {
  width: 10%;
  margin-bottom: 5%;
}